page-fave {
	.toolbar-title{
		text-align: center;	 
		color: white;
		font-weight: 100;
		letter-spacing: 2px;   
	}
	.toolbar-background {
		background: linear-gradient(to right, rgb(0,173,238) , rgb(28,83,165));
	}
}
