page-card {
	.backBtn{
		position: absolute;
		left: 50px;
	}
	.item-inner {
		border: none !important;
	}	
	h6{
		text-align: center;
	}

	ion-icon {
	    font-size: 2em !important;
	    bottom: 7px !important;
	}	

}
